.listItem {
  display: flex;
}
.container {
  border-bottom: 1px dotted black;
  padding: 5px 0;
}

.title {
  width: 200px;
}

.amount {
  margin-left: 10px;
  width: 30px;
}

.addToCart {
  margin-left: 10px;
}

.order {
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

.orderHeadline {
  font-weight: bold;
}

.orderItem {
  margin: 5px 0 5px 20px;
}