<!DOCTYPE html>

<html>
  <head>
    <title>Here are all the articles you can buy</title>
    <link rel="stylesheet" href="style/style.css">
  </head>
  <body>
    <h1>
      All orders of the system:
    </h1>


    <% orders.forEach(order => { %>
      <div class="order">
        <div class="orderHeadline"><%= order.id %> <%= order.sid %></div>
        <% const articles = JSON.parse(order.articles);
        articles.forEach(article => { %>
          <div class="orderItem"> <%= article.amount %>x <%= article.title %></div>
        <% }) %>
      </div>
    <% }); %>
  </body>
</html>