<!DOCTYPE html>

<html>
  <head>
    <title>Here are all the articles you can buy</title>
    <link rel="stylesheet" href="style/style.css">
  </head>
  <body>

    <h1>Contratulations you bought a lot of stuff!</h1>

  </body>

</html>